div.profile
  aside
    h2 PROFILE
    figure
      img(src="img/profile.jpg", alt="WAVEの管理人")
    p 部屋の掃除は好きだけどお皿洗いは苦手。毎日そこらへんをお散歩しています。

  aside
    h2 PICKUP
    ul
      li
        a(href="#")
          figure: img(src="img/plant.jpg", alt="")
          h3 緑のアクセントならこれ
      li
        a(href="#")
          figure: img(src="img/items.jpg", alt="")
          h3 小物と飾り棚の組み合わせ
      li
        a(href="#")
          figure: img(src="img/chair.jpg", alt="")
          h3 居心地がいい部屋にあるもの 
      li
        a(href="#")
          figure: img(src="img/tile.jpg", alt="")
          h3 カラフルなタイル