@charset "UTF-8"

:root {
  --logo: #555d6b;
  --nav: #666666;
  --hover: #ef9505;
  --tableHead: #555d6b;
  --tableData: #e8eef9;
}
* {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
}
body {
  font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

.container {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 
    100px
    auto
    auto
    auto
    100px;
  row-gap: 20px;
  gap: 20px 0;
  & > * {
    grid-column: 2 / -2; // コンテナ直下すべて
  }
}

header {
  grid-row: 1;
  justify-self: center;
  align-self: center;
  a {
    text-decoration: none;
    color: var(--logo);
    // font-weight: 200;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
  }
}
nav {
  grid-row: 1;
  justify-self: center;
  align-self: end;
  ul {
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    column-gap: 20px;
  }
  a {
    text-decoration: none;
    color: var(--nav);
    font-size: 12px;
    font-weight: 700;
    &:hover {
      color: var(--hover);
    }
  }
}
footer {
  grid-row: 5;
  justify-self: center;
  align-self: center;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}
.container::after { // footer用 バー
  display: block;
  content: '';
  background-color: #eee;
  grid-column: 1 / -1;
  grid-row: 5;
  z-index: -1;
}

.top {
  .hero {
    grid-column: 1 / -1;
    grid-row: 2 / span 2;
    img {
      height: 547px; // iPhone8 base
      filter: brightness(70%);
      vertical-align: bottom; // 下隙間防止
      z-index: -1;
      object-fit: cover;
      margin-top: -20px;
      position: relative; // Edge用
    }
  }
  h1 { // title
    grid-row: 2;
    justify-self: center;
    align-self: center;
    color: #fff;
    text-shadow: 0 0 5px #444444;
    font-weight: 400;
    font-size: 50px;
    text-align: center;
    line-height: 1.2;
    font-family: 'Raleway', sans-serif;
  }
  p { // subtitle
    grid-row: 3;
    justify-self: center;
    align-self: center;
    a {
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      color: #fff;
      border: 1px solid #FFF;
      border-radius: 10px;
      padding: 10px 40px;
      background-color: rgba(85, 93, 107, 0.5); // 半透明きれい
      &:hover {
        background-color: var(--hover);
      }
    }
    img {
      width: 250px;
    }
  }
  section { // 記事
    grid-row: 4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 10px;

    h2 {
      font-size: 14px;
      grid-column: 1 / -1;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }
}
article {
  & > * {
    padding: 1em 0;
  }
  table {
    border-collapse: collapse;
    th, td {
      border: 1px solid #000;
      padding: 20px;
    }
    th {
      width: 5em;
      background-color: #aaa;
    }
    td {
      background-color: #eee;
    }
  }
  form {
    p {
      margin-bottom: 20px;
    }
    input, textarea {
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
    }
  }
}

.profile {
  aside {
    text-align: center;
    border: 1px solid #eee;
    margin: 30px 0;
    // padding: 20px 0;
    h2 {
      padding: 20px 0;
    }
    h3 {
      padding: 10px;
    }
    p {
      padding: 10px;
    }
    &:first-child img {
        width: 120px;
        height: 120px;
        border-radius: 50%;;
    }
    ul {
      padding: 0;
      list-style-type: none;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px 20px;
    }
    a {
      text-decoration: none;
      color: #000;
    }

  }
}

// pc
@media (min-width: 768px) {
  .container {
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.2fr;
    // grid-template-rows: 
    //   100px
    //   auto
    //   auto
    //   auto
    //   100px;
    gap: 30px 20px ;

    header {
      justify-self: start;
    }
    footer {
    }
    nav {
      justify-self: end;
      align-self: center;
    }
    &::after { // footer用
      grid-column: 2 / -2;
    }
  }

  .top {
    .hero {
      grid-column: 2 / span 6;
      grid-row: 2 / span 2;
    }
    h1 {
      grid-column: 2 / span 3;
      grid-row: 2 / span 2;
      text-align: center;

      font-size: 60px;
      padding: 20px;
    }
    p {
      grid-column: 5 / span 3;
      grid-row: 2 / span 2;
      img {
        width: 100%;
      }
    }
    section {
      grid-row: 4;

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px 30px;

      h2 {
        grid-column: 1 / -1;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: #000;
      }
    }
  }
}